body > header {

  position: relative;
  inline-size: 100%;
  block-size: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-block: 0;
  padding-inline: var(--layout-margin);
  background-color: var(--color-back2);
  z-index: 10;

  a:link, a:visited {
    text-decoration: none;
    color: var(--color-fore2);
  }

  a:hover, a:active, a:focus {
    color: var(--color-hint1);
  }

  .iconlinks {
    display: none;

    @media (width > 600px) {
      display: flex;
    }
  }

}

#logo {

  inline-size: 1.5em;
  align-content: center;
  margin: 0;

  svg {
    inline-size: 100%;
    block-size: auto;
    fill: var(--color-fore3);
  }

}

#logop { display: block; }
#logof { display: none; }

@media (width > 500px) {
  #logo { inline-size: clamp(5em, 14vw, 10em); }
  #logop { display: none; }
  #logof { display: block; }
}

#themeswitcher {
  appearance: initial;
  block-size: auto;
  align-self: center;
  line-height: 1.5;
  padding-inline: 1.2em 0.3em;
  border: 0 none;
  color: var(--color-fore1);
  background: 0 70% no-repeat url(../../media/icons/monitor.svg) var(--color-back2);
  background-size: 1em;
  border-radius: var(--border-radius1);

  &:has(option[value="light"]:checked) {
    background-image: url(../../media/icons/sun.svg);
  }

  &:has(option[value="dark"]:checked) {
    background-image: url(../../media/icons/moon.svg);
  }
}

@media (height > 600px) {

  body > header {
    position: fixed;
    inset-block-start: 0;
  }

  main {
    padding-block-start: var(--header-fix-height);
  }

  h1, h2, h3 {
    scroll-margin-top: var(--header-fix-height);
  }

}
