/* list of features */

nav.featurelist {

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat( auto-fit, minmax(var(--layout-list-width), 1fr));
  gap: calc(var(--layout-margin) / 2);
  margin-block: var(--layout-margin);

  a:link, a:visited {
    display: block;
    block-size: 100%;
    text-decoration: none;
    padding-block: calc(var(--layout-margin) /  3);
    padding-inline: calc(var(--layout-margin) /  2);
    color: var(--color-fore1);
    background-color: var(--color-back1);
    border: 1px solid var(--color-back2);
    border-radius: var(--border-radius1);
    box-shadow: 0 1px 3px var(--color-shadow);
  }

  a:hover, a:active, a:focus {
    background-color: var(--color-back3);
    border-color: var(--color-hint1);
  }

  p {
    font-size: var(--fsize--1);
    margin: 0;
  }

  p.title {
    font-size: var(--fsize-1);
    font-weight: var(--font-weight-head);
    color: var(--color-hint1);
  }

}
