/* main header menu */
.menu {

  position: relative;

  li {
    text-wrap: nowrap;
  }

  > ul {
    block-size: 100%;
    display: flex;

    > li {
      block-size: 100%;
      align-content: center;
      margin-inline-end: min(1.5vw, 1em);
    }
  }

  details ul {
    position: absolute;
    max-block-size: calc(100vh - var(--header-height) - var(--layout-margin));
    inset-block-start: 99%;
    padding-block-end: 0.5rem;
    background-color: var(--color-back2);
    border-block-end: 4px solid var(--color-back2);
    box-shadow: 0 3px 3px var(--color-shadow);
    overflow-y: auto;
    overscroll-behavior: none;

    a, strong {
      padding-inline-end: 1.5rem;
    }
  }

  details ul ul {
    position: relative;
    max-block-size: auto;
    inset-block-start: auto;
    box-shadow: none;
  }

  details[name]::details-content {
    transition: none;
  }

  details:not([open]) > summary::before {
    transform: rotate(-90deg);
  }

  details[open] > summary::before {
    transform: rotate(0deg);
  }

  strong {
    color: var(--color-hint1);
  }

  li > a {
    display: block;
  }

}
